In [1]:
import pandas as pd
melb_data = pd.read_csv('datasheets/melb_data.csv')
melb_data.describe()
melb_data.columns # Prints all columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [2]:
melb_data.dropna(axis=0) # Drops N/A (missing) values
y = melb_data.Price # Prediction target.. convention to use y 

# Features for model
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
x = melb_data[melbourne_features]
x.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [3]:
x.head(8)

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941
5      2       1.0     181.0   -37.8041    144.9953
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [4]:

# Import for model
from sklearn.tree import DecisionTreeRegressor
# Define model with random state for same result
melbourne_model = DecisionTreeRegressor(random_state = 1)
# Fit model for prediciton
melbourne_model.fit(x, y)

# Prediction for first 5 houses
print("Making prediciton for these 5 house ")
print(x.head())

print("The price predicitons are: ")
print(melbourne_model.predict(x.head()))

Making prediciton for these 5 house
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941
The price predicitons are:
[1480000. 1035000. 1465000.  850000. 1600000.]

In [5]:
print("Predicted prices vs. Actual Prices: ")
print(melbourne_model.predict(x.head()))
print(y.head())

Predicted prices vs. Actual Prices:
[1480000. 1035000. 1465000.  850000. 1600000.]
0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64